{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <h1>Our Team</h1>
            <div class="team">
                <div team_member>
                    <div class="team_img">
                        <img src="{% static 'kaustubh.jpg' %}" alt="team_member_image">
                    </div>
                    <h3>Kaustubh Damle</h3>
                    <p class="role">Idea and Creative Lead</p>
                    <!-- <p>Team member description</p> -->
                </div>
                <div team_member>
                    <div class="team_img">
                        <img src="{% static 'pp.jpg' %}" alt="team_member_image">
                    </div>
                    <h3>Kaushal Kulkarni</h3>
                    <p class="role">Structural Technical Lead</p>
                    <!-- <p>Team member description</p> -->
                </div>
                <div team_member>
                    <div class="team_img">
                        <img src="{% static 'atharva.jpg' %}" alt="team_member_image">
                    </div>
                    <h3>Atharva Nagmoti</h3>
                    <p class="role">Content and Script Lead</p>
                    <!-- <p>Team member description</p> -->
                </div>
                <div team_member>
                    <div class="team_img">
                        <img src="{% static 'tejas.jpg' %}" alt="team_member_image">
                    </div>
                    <h3>Tejas Ambekar</h3>
                    <p class="role">Design and Layout Lead</p>
                    <!-- <p>Team member description</p> -->
                </div>
                <div team_member>
                    <div class="team_img">
                        <img src="{% static 'balaphotu.jpg' %}" alt="team_member_image">
                    </div>
                    <h3>Balaji Vaste</h3>
                    <p class="role">Editing Lead</p>
                    <!-- <p>Team member description</p> -->
                </div>
                </div>
            </div>
        </div>
    </body>
</html>